<!-- Created with Datawrapper for Folha de S.Paulo -->
<!-- Custom version by @rubensfernando -->

<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,500' rel='stylesheet' type='text/css'>
{% use "theme-core.twig" %}
{{ block('chart_head_no_fs') }}
<div id="chart"></div>
<div id="footer">
    {% if not plain %}
    <div class="footer-left">
        {% if source %}
        <span data-src="{% trans " Source: " %}" class="source-block">
            {{ source }}
        </span>
        {% endif %}
        <a href="http://folha.com/infograficos" target="_top">Confira mais infográficos da <strong>Folha</strong></a>
    </div>
    {% endif %}
</div>
<script>
window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')
</script>
<script type="text/javascript">
var folha=folha||{};folha.omniture={info:{channel:"infograficos",subchannel:["Infogr%C3%A1ficos"],type:"infograficos",title:encodeURI(document.title.split(" - ")[1]),special:{title:"",type:""}}};
</script>
<script type="text/javascript" src="http://me.jsuol.com/omtr/folhacom.js" charset="iso-8859-1"></script>
<!--IVC -->
<script type="text/javascript">
var ivcUrl=("https:"==document.location.protocol?"https://datpdpmej1fn2.cloudfront.net/":"http://ivccftag.ivcbrasil.org.br/")+"ivc.js";!function(c,e,t,a,i,o,r){c[i]||(c.GlobalIvcNamespace=c.GlobalIvcNamespace||[],c.GlobalIvcNamespace.push(i),c[i]=function(){(c[i].q=c[i].q||[]).push(arguments)},c[i].q=c[i].q||[],o=e.createElement(t),r=e.getElementsByTagName(t)[0],o.async=1,o.src=a,r.parentNode.insertBefore(o,r))}(window,document,"script",ivcUrl,"ivc"),window.ivc("newTracker","cf","ivccf.ivcbrasil.org.br",{idWeb:"125"}),window.ivc("trackPageView");
</script>
<!-- /IVC -->
<img id="nvg_rt" src="//navdmp.com/req?acc=23947&amp;cus=101725&amp;/img=1" alt="Pixel tag">
<!-- Chartbeat -->
<script type='text/javascript'>
var _sf_async_config={};_sf_async_config.uid=50059,_sf_async_config.domain="folha.com.br",_sf_async_config.useCanonical=!0,_sf_async_config.sections="arte",_sf_async_config.authors="Folha",function(){function t(){window._sf_endpt=(new Date).getTime();var t=document.createElement("script");t.setAttribute("language","javascript"),t.setAttribute("type","text/javascript"),t.setAttribute("src","//static.chartbeat.com/js/chartbeat.js"),document.body.appendChild(t)}var n=window.onload;window.onload="function"!=typeof window.onload?t:function(){n(),t()}}();
</script>
<!-- Chartbeat -->
