<!-- Created with Datawrapper for Folha de S.Paulo -->
<!-- Custom version by @rubensfernando -->

{% use "theme-core.twig" %}
{{ block('chart_head_no_fs') }}
<div id="chart"></div>
<div id="footer">
    {% if not plain %}
    <div class="footer-left">
        {% if source %}
        <span data-src=" " class="source-block">
            {{ source }}
        </span><br>
        {% endif %}
        <a href="http://folha.com/infograficos" target="_top">Confira mais infográficos da <strong>Folha</strong></a>
    </div>
    {% endif %}
</div>
<script src="http://arte.folha.uol.com.br/library/audience/folhagraficos.js" type="text/javascript" charset="utf-8" async defer></script>